body {
    font-family: "Work Sans";
    font-weight: 600;
    margin: 0;
    padding: 0;
}

header {
    background-color: #70a48b;
    padding: 10px;
    border: 0;
}

footer {
    background-color: #70a48b;
    padding: 10px;
    border: 0;
}

.location {
    background-color: #70a48b;
}

#donation {
    background-color: #1f211c;
}

main {
    padding: 20px;
}

img {
    border-radius: 10px;
}